@import 'normalize.css';

/* @import 'tailwindcss/base'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  height: 10vh; /* 10% of the viewport height */
  display: flex;
  align-items: center;
  padding: 1rem;
}

.main-content {
  height: 80vh; /* 80% of the viewport height */
  /* flex-grow: 1; Take up available space */
}

.footer {
  height: 10vh; /* 10% of the viewport height */
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.profile-section {
  display: flex;
  align-items: center;
}

.rounded-box {
  border-radius: 20px;
}

.truncate-6-lines {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

*, ::before, ::after {
  box-sizing: border-box;
}
