/* @import 'tailwindcss/base'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  margin: 0;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-attachment: fixed; 
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.profile-section {
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.rounded-box {
  border-radius: 20px;
}

.truncate-6-lines {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

*, ::before, ::after {
  box-sizing: border-box;
}
